/*BORDER STYLES*/

.name1 {
	border: 2px solid black;
	width: 400px;
}

.name2 {
	border: 2px dotted black;
	width: 400px;
}

.name3 {
	border: 2px dashed black;
	width: 400px;
}

.name4 {
	border: 10px double black;
	width: 400px;
}

.name5 {
	border: 10px groove grey;
	width: 400px;
}

.name6 {
	border: 10px ridge grey;
	width: 400px;
}

.name7 {
	border: 10px inset grey;
	width: 400px;
}

.name8 {
	border: 10px outset grey;
	width: 400px;
}

/*BACKGROUNDS*/

.name9 {
	border: 2px solid black;
	width: 400px;
	height: 200px;
	background-color: red;
}

.name10 {
	border: 2px solid black;
	width: 400px;
	height: 200px;
	background: linear-gradient(to bottom, red, orange, yellow);
	/* must define at least two colors, start and stop, we can add middle colors to stop between them*/
	/* the direction can be: to top, to left, to right, to bottom, diagonal, angles, multicolor, transparency, repeat, radial...*/
	/* background: linear-gradient(direction, color-stop1, color-stop2,...);*/
}

.name11 {
	border: 2px solid black;
	width: 400px;
	height: 200px;
	background-image: url(img/frank_cat.png);
	/* control background-position, background-repeat, background-size, background-clip*/
}

/*COLOR*/ 

.name12 {
	border: 2px solid black;
	width: 200px;
	height: 200px;
	color: red;
}

.name13 {
	border: 2px solid black;
	width: 200px;
	height: 200px;
	background-color: #abc;
	
}

.name14 {
	border: 2px solid black;
	width: 200px;
	height: 200px;
	color: rgba(200,0,200, 0.3);
	/* r - red (0 to 255), g - green(0 to 255), b - blue(0 to 255), a - alpha(from 0 to 0.5)*/ 
}

.name15 {
	border: 2px solid black;
	width: 200px;
	height: 200px;
	color: hsla(50, 50%, 50%, 0.4);
	/* h - hue(0 to 360), s - saturation(0 to 100%), l - lightness(0 to 100%), a - alpha(from 0 to 0.5)*/
}



